body{
    margin: 0.;
    padding: 0;
}
.logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: transparent;
    border-top: 20px solid darkblue;
    border-bottom: 30px solid rgb(131, 107, 45);
    border-left: 50px solid darkgreen;
}
.logo:before{
    content: "";
    position: absolute;
    border-radius: 50%;
    top: 30px;
    right: 30px;
    border-top: 100px solid transparent;
    border-bottom: 100px;
    border-left:0px solid blue;
    border-right: 100px solid transparent ;
    transform:rotate(270deg);
}